node_modules/
dist/
Ydek/
.idea/
.vscode/
*.zip
!docs/data/*.zip
*.docx
Data/*.zip
*.tmp
data.js
/Originals/
/giris_sayfasi.jpg
/ornek_GTFS_Konya.jpg
/hat_bilgi.jpg
/durak_bilgi.jpg
/arac_bilgi.jpg
/durak_bazli_izokran.jpg
/gtfscity.png
